<!-- <div
 class="sidebar sidebar-bg{{ with .Site.Params.doNotLoadAnimations }} 
  .
  {{ else }}
    animated fadeInDown
  {{ end }}"
> -->
 
 
 <div
  class="sidebar sidebar-bg
    {{ if in .Permalink "/iammukura/" }} sidebar-mukura{{ end }}
    {{ if not .Site.Params.doNotLoadAnimations }} animated fadeInDown{{ end }}"
>
   
  <div class="sidebar__content">
    <div class="sidebar__introduction">
      {{ $profilePic := or .Params.profilePicture .Site.Params.profilePicture }}
<img
  class="sidebar__introduction-profileimage"
  src="{{ $profilePic | relURL }}"
  alt="profile picture"
/>

   {{ $isMukura := in .Permalink "/iammukura/" }}
{{ if .IsHome }}
  <div class="sidebar__introduction-title">
    <h1>
      <a href="{{ .Site.BaseURL | relLangURL }}">
        {{ if $isMukura }}Mukura{{ else }}{{ .Site.Params.Title }}{{ end }}
      </a>
    </h1>
  </div>
{{ else }}
  <div class="sidebar__introduction-title">
    <a href="{{ .Site.BaseURL | relLangURL }}">
      {{ if $isMukura }}Mukura{{ else }}{{ .Site.Params.Title }}{{ end }}
    </a>
  </div>
{{ end }}

      
      <!-- to add desc in sidebar for Mukura -->
      <div class="sidebar__introduction-description">
      {{ if in .Permalink "/iammukura/" }}
  <p><strong></strong> Introspective, genre-fluid music sung by me</p>
{{ else }}
  <p>{{ replace .Site.Params.description "\n" "<br />" | safeHTML }}</p>
{{ end }}

<!--       ### <p>{{ replace .Site.Params.description "\n" "<br />" | safeHTML }}</p> -->
      </div>
    </div>
    <ul class="sidebar__list">
      {{ range $item := .Site.Params.socialIcons }}
        <li class="sidebar__list-item">
          <a
            href="{{ $item.url }}"
            target="_blank"
            rel="noopener me"
            aria-label="{{ $item.title }}"
            title="{{ $item.title }}"
          >
            <i class="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
  {{- partial "footer.html" (dict "context" . "footerClassModifier" "sidebar") -}}
</div>
